# Project exclude paths
/java-example/.gradle/
/java-example/build/
/java-example/build/classes/java/test/
java-example/build.gradle
java-example/build/
java-example/gradle/
java-example/gradlew
java-example/gradlew.bat
java-example/settings.gradle
.idea/
*.iml